.category-custom-bg{
    background-color: #da70d6;
}
.btn-custom{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    color: white;
    font-weight: 500;
}